doctype html

html(lang="en-US")

    include _head.pug

    body.bg-darker.text-white.text-center.container

        div#content
            br
            br
            img#avatar.rounded-circle(src="assets/images/avatar.png",style="height: 100px; width: 100px;")
            h1#name.text-primary #{title}
            span #{description}

            br
            br

            each button in buttons.length ? buttons : [{link: '#', color: '#FFF', icon: 'fas fa-do-not-enter', text: 'None'}]
                a.btn.bg-dark.text-white(href=button.link,style="width: 200px; border-left: 4px solid " + button.color)
                    i(class=button.icon)
                    span  #{button.text}
                br
                br
            small.text-muted &copy; #{title} #{new Date().getFullYear()}

        script(src=cdnJQuery)
        script(src=cdnBootstrapJs)
        script(src=cdnFontAwesome)