doctype html

html(lang="en-US")

    title Patreon | #{title}
    include _head.pug

    body.bg-darker.text-white.text-center.container

        div#content
            br
            br
            img#avatar.rounded-circle(src="assets/images/avatar.png",style="height: 100px; width: 100px;")
            h1#name.text-primary #{title} Offcial Patreon
            span The official Patreon page to thank the Amazing supporters!

            br
            br

            a.btn.bg-dark.text-white(href="https://www.patreon.com/hazardworks",style="width: 300px; border-left: 4px solid #F96854")
                i(class="fab fa-patreon")
                span  Support Me On Patreon!

            br 
            br

            h3.text-primary Nuclear Hazard Supporters!
            ul#nuclear
                each patron in supportersNuclear.length ? supportersNuclear : ['There are no supporters at this tier!']
                    li #{patron}
            
            h3.text-primary True Hazard Supporters!
            ul#true
                each patron in supportersTrue.length ? supportersTrue : ['There are no supporters at this tier!']
                    li #{patron}
        
            h3.text-primary Small Hazard Supporters!
            ul#small
                each patron in supportersSmall.length ? supportersSmall : ['There are no supporters at this tier!']
                    li #{patron}

            small.text-muted &copy; #{title} #{new Date().getFullYear()}